*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

header, nav, section, footer, article, aside{
	display: block;
}

body{
	background-image: url("../images/body.jpg");
}

.container{
	width: 600px;
	height: 300px;
	margin: 0px auto;
	border: 1px solid white; 
	top: 20px;
	position: relative;
}

.header_class h2{
	height: 30px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px
	text-align: left;
	color: white;
}

.clear{
	clear: both;
}

.left_side{
	float: left;
	width: 550px;
	height: 280px;
}

.left_side article{
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding: 15px;
	color: white;
}

table {
	border: 1px solid white;
	color: white;
	margin-left: 20px;
	margin-top: 2px;
}

td, th {
	border: 1px solid white;
	color: white;
	padding: 2px;
	text-align: center;
}

.button{
	background-color: #804040;
	color: white;
	font-family: Audrey;
	font-size: medium;
	padding: 10px 10px;
	border-radius: 4px;
	cursor: pointer;
	height: 30px;
	width: 110px;
	float: left;
	opacity: 0.7; 
	border: 1px solid white;
}

.button:HOVER{
	opacity: 1.0; 
}

#yearSpanId, #schoolSpanId, #marksSpanId{
	color: white;
	font-family: Audrey;
	padding-left: 10px;
	width: 170px;
}
